  /* ===== References CSS ===== */

  .references-container {
    overflow: hidden;
  }

  .references-container>.about-container {
    overflow: hidden;
  }

  .references-container>.references-robot {
    margin-left: 370px;
    margin-top: 50px;
    float: left;
    margin-right: 60px;
  }

  .references-container>.references-robot>h3 {
    line-height: 6px;
  }

  .references-container>.about-information {
    background-color: #D16B60;
    width: 700px;
    overflow: hidden;
    margin-top: 62px;
    padding: 0px 25px;
    border-radius: 5px;
    line-height: 30px;
    align-self: center;
  }

  .references-container>.about-information {
    background-color: #9b1b66;
    width: 700px;
    overflow: hidden;
    padding: 0px 25px;
    border-radius: 5px;
    line-height: 30px;

    margin-bottom: 40px;
  }

  .references-container>.references-information {
    background-color: #19a178;
    width: 700px;
    overflow: hidden;
    padding: 0px 25px;
    border-radius: 5px;
    line-height: 30px;

    margin-bottom: 40px;
  }

  .references-container>.explanation-information {
    background-color: #007753;
    width: 700px;
    overflow: hidden;
    padding: 20px 25px;
    border-radius: 5px;
    line-height: 30px;
    color: #fff;

    margin-bottom: 40px;
  }

  .references-container>.references-information {
    cursor: pointer;
  }